<span id="projects">

<% @important = Step.mine(current_user).important.not_completed %>
<% if @important.count > 0%>
   <h1 id="important-title">Don't Forget</h1>
    <%= 'You have' unless @current_project%>
    <%=pluralize(@important.length,'important project')%>
    <% @important[0..10].each do |project| %> 
	    <li><%= step_link (project)%></li>
    <%end%>
    <% if @important.length > 10%>
      <li><%= link_to "more ... ", :controller=> :manager, :action=>:search, :search =>{:important => true, :q=>"", :user_id=>current_user.id}%></li>
     <% end %>
<% end %> 


<% if user_signed_in? %>
<h1>Navigation</h1>
	<li><%= link_to  'Home', :controller=>:manager,:action=>:dashboard%></li>
	<li><%= link_to 'Create Project', :controller=> :steps,:action=>:new%></li>
	<li><%= link_to 'Search', :controller=> :manager,:action=>:search%></li>
	<li><%= link_to 'My Next Step', :controller=> :manager, :action=>:search, :search =>{:ownership=>"leaf", :status =>"started", :q=>"", :user_id=>current_user.id}%></li>
	<li><%= link_to 'When I am Bored', :controller=> :manager, :action=>:search, :search =>{:ownership=>"leaf", :status =>"new", :q=>"", :user_id=>current_user.id}%></li>
	<li><%= link_to "Don't Forget", :controller=> :manager, :action=>:search, :search =>{:important => true, :q=>"", :user_id=>current_user.id}%></li>
<% end %>
	
<h1>Projects</h1>
<%= (@current_project.title  + ' has') if @current_project %>
<%= 'You have' unless @current_project%>
 <%=pluralize(@projects.length,'project') unless @current_project%>
 <%=pluralize(@projects.length,'step') if @current_project%>
<% @projects.each do |project| %> 
	<li><%= link_to project.title, :controller=>:steps, :action=> :show, :params =>{:id=>project.id}%></li>
<%end%>

<!-- must solve problem of time diff before I show this -->
<!--<div class="time"><%=Time.now.strftime("%B %A  <br/> %d/%m/%y %H:%M")%></div>-->


</span>
	


