<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

	
		
	<div id="searchStep">
		
	<% form_for :search, @search ,:html => {:method=>"get"},:action=>'search' do |f|%>
		<p>
			
			<%=f.text_field :q %>
			<%=f.hidden_field :user_id, :value=> current_user.id %>
			<%=f.submit 'Search', :name=>nil%>
			    
		</p>
        <p>
        <%=f.select :status, Step::Status,:prompt => "Select a status [all]", :include_blank => true %>
		<%=f.select :ownership,Step::Ownership,:prompt => "Select ownership [all]", :include_blank => true%>
        <%=f.select :access,Step::Searchable_Access,:prompt => "Select access [all]", :include_blank => true%>
        </p>
		<%=f.check_box :important%><%= f.label :important%>
    	
        

		
	<% end %>
	</div>	

<div id="searchResults">
	
	<% if params[:q] %>
	search results for : <%= params[:q]%>
	<% end %>
	
	<% if @results %>
		<% @results.each do |result|%>
		<div id="searchResult">
			
		   <h3><%= link_to result.title, step_path(result)%></h3>
		   <div class="breadcrumb"><%= step_breadcrumb(result,"/","")%></div>
		   		<%=textilize_without_paragraph highlight(result.description,params[:q])%>
		    <hr/>
		   
		</div>
		<% end%>
	<% end%>
</div>	
		