<% form_for(@step) do |f| %>

 <%= f.hidden_field :parent_id, :value=>params[:parent]%>
 <%= f.hidden_field :status, :value=>Step::Status[0]%>
 <%= f.hidden_field :user_id, :value=>current_user.id%>
  <%= f.error_messages %>
    <%= f.submit 'Create' %>
    <%= f.submit 'Create And Back' %>
	<%= f.check_box :important%>
	<%= f.label :important%>
 			<table class="newStepsTable">
  				<tr> 
					<td> <%= f.label :title %><br /> </td>
				 	<td> <%= f.text_field :title %> </td> 
				</tr> <tr>
					 <td> <%= f.label :description %><br /> </td>
 					<td> <%= f.text_area :description , :class=>"textArea"%> </td>
				</tr>
			</table>
 		<%= f.hidden_field :status , :value => 'New', :disabled=>true%>
 <% end %>

