<!DOCTYPE html>
<html height="100%">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		
		<title>Steps - Project Manager <%= ": #{@subtitle}" unless @subtitle.nil? %> [<%=current_user.email if user_signed_in?%>]</title>
		<%= stylesheet_link_tag "steps", :media=>"screen"%>
		<%= stylesheet_link_tag "print", :media=>"print"%>
		<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" /> 
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
		
		<script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-17256855-1']);
        _gaq.push(['_setDomainName', '.mograbi.co.il']);
        _gaq.push(['_trackPageview']);
        
        (function(){
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

</script>
	</head>


	<body height="100%">
		
		<div id="banner">
			<span id="subtitle"><%=@subtitle%></span>
			<%= image_tag("steps-logo.png", :id=>'bannerImg')%>
			<span id="text">Steps  <span id="subtext">Project Manager</span></span>	
			<div id="logout">
				<%= link_to(image_tag('/images/icons/printer.png', :title=>'Print Version'), print_url(:params => params)) if printable?%>
				<%=link_to( 'Logout', :controller => 'sessions' , :action=>'destroy') if user_signed_in?%>
				<% unless user_signed_in?  %>
				<%=link_to( 'Sign in', :controller => 'sessions' , :action=>'new')%> or  
				<%=link_to( 'Sign up', :controller => 'registrations' , :action=>'new')%>
				<% end %> 
			</div>
		</div>
		
		<div id="columns">
			
		<div id="sidebar" class="sidebar">
	 		<%= render(:partial => "manager/projects" , :object => @projects) if user_signed_in? %>
			<%= render(:partial => "admin/sidebar" , :object => @projects) unless user_signed_in? %>
		</div>
			
		<div id="sidebar_border"/>
 		<div id="breadcrumbs">
			<%= @content_for_breadcrumb%>						
		</div>
		<div id="breadcrumbs_border"/>
		
		
		<div id="main">
			
			<% if flash[:error] -%>
    			<div id="erro"><%=textilize flash[:error] %> </div>
			<% end -%>
			<% if flash[:notice] -%>
    			<div id="notice"><%=textilize flash[:notice] %> </div>
			<% end -%>
			<%= yield :layout %>
		</div>
		</div>
		
	
		
	
	</body>
	
		
		
</html>